<p>
  <%= content_tag(:label, l(:datepicker_date_format)) %>
  <%= text_field_tag "settings[datepicker_date_format]", @settings["datepicker_date_format"] %><br/>
  (<%=l(:jquery_datepicker_format)%>. <%=l(:default)%>: "D y-m-d")
</p>

<p>
  <%= content_tag(:label, l(:datepicker_min_date)) %>
  <%= text_field_tag "settings[datepicker_min_date]", @settings["datepicker_min_date"] %><br/>
  (<%=l(:jquery_datepicker_format)%>. <%=l(:default)%>: "-6m")
</p>

<p>
  <%= content_tag(:label, l(:datepicker_max_date)) %>
  <%= text_field_tag "settings[datepicker_max_date]", @settings["datepicker_max_date"] %><br/>
  (<%=l(:jquery_datepicker_format)%>. <%=l(:default)%>: "+0")
</p>

<p>
  <%= content_tag(:label, l(:datepicker_first_day)) %>
  <%= text_field_tag "settings[datepicker_first_day]", @settings["datepicker_first_day"] %><br/>
  (0-6, Sunday-Saturday. <%=l(:default)%>: 1)
</p>

<p>
  <%= content_tag(:label, l(:issues_closed_past_days)) %>
  <%= text_field_tag "settings[issues_closed_past_days]", @settings["issues_closed_past_days"] %><br/>
  (<%=l(:jquery_datepicker_format)%>. <%=l(:default)%>: 7)
</p>

<p>
  <%= content_tag(:label, l(:overbooking_warning_label)) %>
  <%= check_box_tag "settings[overbooking_warning]", "1", @settings["overbooking_warning"] %><br/>
</p>

<p>
  <%= content_tag(:label, l(:only_issues_label)) %>
  <%= check_box_tag "settings[only_issues]", "1", @settings["only_issues"] %><br/>
</p>
