<h2><%= l(:overview_title) %></h2><span><%= t(:overview_note) %></span>
<% # note: redmine includes jquery by default %>
<% content_for(:header_tags) { %>
  <%= stylesheet_link_tag 'overview', :plugin => 'redmine_time_logging_app' %>
<% } %>
<table class="time_logging_app list time_entries">
  <tr>
    <% @display_column_headings.each {|heading| %><th><%= heading %></th><% } %>
  </tr>
  <% @time_entries.each {|entry| %>
    <% tr_classes = cycle('even', 'odd')
		   if entry[:less_hours]
         tr_classes += " less_hours"
		   end
       spent_on_date = "data-spent-on=#{entry[:spent_on_date]}"
	  %>
    <tr class="<%= tr_classes %>" <%= spent_on_date %>>
      <% @display_columns.each {|column_key| %><td class="<%= column_key %>"><%= entry[column_key] %></td><% } %>
    </tr>
  <% } %>
</table>
