<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "main", :plugin => "redmine_time_logging_app" %>
    <title>
      <%= t(:menu_entry_title) %>
    </title>
    <meta content="text/html;charset:UTF-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="csrf-token"/>
  </head>
  <!-- body background-color is set here to have it early on load -->
  <body style="background-color: #aaa">
    <div id="wrapper" style="display:none">
      <div class="entry">
        <h2><%= t(:menu_entry_title) %></h2>
        <div id="form">
          <div class="topControls editMode">
            <button class="cancel"><%= t(:button_cancel) %></button>
            <button class="delete"><%= t(:button_delete) %></button>
          </div>
          <div class="row topControls">
            <div class="left hbox">
              <input id="date" tabindex="1" type="text"/>
              <div class="dateControls">
                <button class="prev" title="<%= t(:datepicker_prev) %>"></button>
                <button class="next" title="<%= t(:datepicker_next) %>"></button>
              </div>
            </div>
            <div class="right hbox">
              <button class="open-in-redmine" title="<%= t(:open_in_redmine) %>"></button>
              <button class="overview"
                      data-href="<%= url_for({controller: "time_logging_app", action: "overview", html_options: {target: "_blank", class: "overview"}}) %>"
                      title="<%= t(:label_overview) %>">
              </button>
              <button class="resetForm" title="<%= t(:button_reset) %>"></button>
            </div>
          </div>
          <textarea accesskey="f" id="search" tabindex="2" placeholder="<%= t(:label_search)%>"></textarea>
          <div class="hbox">
            <div id="time">
              <input id="hours" tabindex="3" type="number" placeholder="<%= t(:field_hours)%>"/>
              <input id="minutes" tabindex="4" type="number" placeholder="<%= t(:field_minutes)%>"/>
            </div>
            <select id="activity" tabindex="5" placeholder="<%= t(:field_activity) %>" title="<%= t(:field_activity) %>"></select>
          </div>
          <textarea id="comments" maxlength="255" tabindex="6" placeholder="<%= t(:label_comment) %>"></textarea>
          <div class="hbox">
            <button accesskey="s" class="submit" tabindex="7"><%= t(:button_create) %></button>
          </div>
        </div>
      </div>
      <div id="loading">
        <span class="text"></span>
        <div class="icon"></div>
      </div>
      <table class="list" id="timeEntries">
        <thead>
          <tr>
            <th class="project-task-header">
              <%= t(:label_issue) %>
            </th>
            <th class="hours-header">
              <%= t(:field_hours) %>
            </th>
            <th class="activity-header">
              <%= t(:field_activity) %>
            </th>
            <th class="daySpentTime"></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <td class="hoursTotal" colspan="4"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <script id="timeEntryTemplate" type="text/html">
      <tr class="timeEntry {{classes}}" data-entry-id="{{entry_id}}">
        <td>
          <a class="title" href="{{projectOrIssueUrl}}" target="_blank">{{name}}</a>
          <div class="comments">{{comments}}</div>
        </td>
        <td>
          <a class="time" href="{{timeEntriesUrl}}" target="_blank"
            title="<%= t(:spent_individual) %> (<%= t(:spent_total) %> / <%= t(:estimate) %>)">{{time}} (<span class="estimates">{{estimates}}</span>)</a>
        </td>
        <td>
          <a class="activity" href="{{timeEntriesUrl}}" target="_blank">{{activity}}</a>
        </td>
        <td>
          <button class="insert"></button>
          <button class="edit"></button>
        </td>
      </tr>
    </script>
    <%= javascript_tag @javascript_tag_content, :id => "redmineData" %>
    <%= javascript_include_tag "main", :plugin => "redmine_time_logging_app" %>
    <script>
      app.initialise()
    </script>
  </body>
</html>
